#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h> 
#include <dt-bindings/zmk/bt.h>
//#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define COLEMAK 1
#define QWERTY  2
#define MOUSE2  3
#define MOUSE   4
#define GAME    5
#define NAV2    6
#define OFF     7
#define WIDER   8
#define WIDERNAV 9
#define NAV     10


//Mouse Movement
//#define MUP     MOVE(0,-600)
//#define MLEFT   MOVE(-600,0)
//#define MDOWN   MOVE(0,600) 
//#define MRIGHT  MOVE(600,0) 
#define MUP       LG(F1)
#define MDOWN     LG(F2)
#define MLEFT     LG(F3)
#define MRIGHT    LG(F4)
#define LCLICK    LG(F5)
#define RCLICK    LG(F6)
#define MCLICK    LG(F7)

#define SEARCH    LS(F12)
#define JOURNAL   F21

//Ctrl + Arrows
#define CUP     LS(LC(T))
#define CLEFT   LS(LC(TAB))
#define CDOWN   LC(W)
#define CRIGHT  LC(TAB)

//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
//     0           1            2          3         4          5         6         7           8          9         10         11         12         13          14
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
//     15               16         17         18       19          20         21         22          23        24         25         26           27             28  
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
//     29            30         31         32         33        34            35            36           37         38        39         40         41           42
//├──────────┬──┺━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┹─┬────────┴─┬──────────────┤
//     43         44          45        46         47         48         49         50           51        52         53         54         55       56          57
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
//     58           59         60                       61                    62                63               64           65           66        67          68
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯

/ {    
    behaviors { 
        cup: cup {
            compatible = "zmk,behavior-mod-morph";
            label = "cup";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp CUP>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        cdown: cdown {
            compatible = "zmk,behavior-mod-morph";
            label = "cdown";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp CDOWN>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        cleft: cleft {
            compatible = "zmk,behavior-mod-morph";
            label = "cleft";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp CLEFT>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        cright: cright {
            compatible = "zmk,behavior-mod-morph";
            label = "cright";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp CRIGHT>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        

        backquestion: backquestion {
            compatible = "zmk,behavior-mod-morph";
            label = "backquestion";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp QUESTION>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };  
        shiftnav: shiftnav {
            compatible = "zmk,behavior-tap-dance";
            label = "shiftnav";
            #binding-cells = <0>;
            tapping-term-ms = <1000>;
            bindings = <&kp RSHIFT>, <&mo NAV>;
        };
        mtl: mtl {            
            compatible = "zmk,behavior-hold-tap";
            label = "mtl";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&to>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
    &kp ESC   &kp EQUAL    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0      &kp PSCRN  &kp DEL    &kp C_VOL_UP
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
    &kp TAB         &kp SQT   &kp COMMA   &kp DOT     &kp P      &kp Y     &kp FSLH    &kp F     &kp G      &kp C      &kp R      &kp L       &backquestion     &kp C_VOL_DN
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
    &kp BACKSPACE  &kp A      &kp O       &kp E     &kp U      &kp I     &to MOUSE        &kp D     &kp H      &kp T      &kp N      &kp S     &kp MINUS     &kp ENTER
//├──────────┬──┺━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┹─┬────────┴─┬──────────────┤
   &kp SEMI    &mo NAV     &kp Q      &kp J     &kp K       &kp X    &kp LBKT    &kp RBKT        &kp B       &kp M     &kp W      &kp V       &kp Z      &cup     &tog MOUSE2   
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
    &kp LCTRL    &kp LGUI    &kp LALT              &kp SPACE             &kp ENTER       &mtl RSHIFT NAV          &mo MOUSE   &mo NAV2      &cleft   &cdown    &cright
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯
            >;
        };
        
        COLEMAK{
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
    &trans    &trans      &trans     &trans      &trans    &trans     &trans     &trans     &trans     &trans     &trans       &trans    &trans    &trans      &trans
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
    &trans          &kp Q      &kp W      &kp F      &kp P         &kp B    &trans      &kp J     &kp L      &kp U     &kp Y      &kp SEMI       &trans     &trans
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
    &trans          &kp A      &kp R       &kp S     &kp T      &kp G       &trans         &kp M     &kp N      &kp E      &kp I      &kp O       &trans       &trans
//├──────────┬──┺━━━━━━━┯━━━┻━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┹─┬────────┴─┬──────────────┤
    &kp Z       &trans          &kp X      &kp C     &kp D     &kp V     &trans     &trans   &kp K       &kp H       &kp COMMA   &kp DOT   &kp FSLH   &trans   &trans
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
    &trans        &trans       &trans              &trans                  &trans          &trans               &trans    &trans     &trans       &trans    &trans
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯  
            >;
        };
        
       QWERTY{
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
    &trans    &trans      &trans     &trans      &trans    &trans     &trans     &trans     &trans     &trans     &trans       &trans    &trans    &trans     &trans
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
    &trans          &kp Q      &kp W      &kp E      &kp R     &kp T        &trans      &kp Y     &kp U      &kp I     &kp O      &kp P       &trans        &trans
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
    &trans          &kp A      &kp S      &kp D     &kp F      &kp G       &trans         &kp H     &kp J      &kp K      &kp L      &kp SEMI     &trans     &trans
//├──────────┬──┺━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┹─┬────────┴─┬──────────────┤
  &kp Z      &trans             &kp X      &kp C     &kp V       &kp B     &trans     &trans   &kp N       &kp M       &kp COMMA   &kp DOT   &kp FSLH   &trans     &trans
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
    &trans        &trans       &trans              &trans                  &trans            &trans          &trans       &trans       &trans    &trans     &trans
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯
            >;
        };
        
        MOUSE2 {
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
    &trans    &trans      &trans     &trans      &trans    &trans     &trans     &trans     &trans     &trans     &trans      &trans      &trans  &kp MCLICK  &kp PG_UP
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
    &trans          &trans     &trans     &trans      &trans        &trans   &trans    &trans     &trans    &trans     &trans     &trans      &trans           &kp PG_DN
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
    &trans         &trans     &trans      &trans     &trans    &trans      &trans           &trans     &trans    &trans      &trans     &trans     &trans      &kp RCLICK
//├──────────┬──┺━━━━━━━━┯━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┹─┬────────┴─┬──────────────┤
    &trans      &trans      &trans      &trans      &trans  &trans   &trans     &trans     &trans     &trans     &trans      &trans     &trans      &kp MUP     &tog MOUSE2 
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
    &trans        &trans      &trans         &trans                         &trans       &trans                 &trans     &kp LCLICK  &kp MLEFT  &kp MDOWN  &kp MRIGHT
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯
            >;
        };
        
        MOUSE {
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
   &trans       &none      &none    &none     &none     &none          &none      &none    &none     &none     &none      &none       &trans         &trans   &trans 
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
    &trans          &none     &none   &kp MUP &kp RCLICK    &kp PG_UP      &none   &none           &none     &none       &none     &none     &trans          &trans 
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
     &trans        &kp MLEFT &kp MLEFT  &kp MDOWN   &kp MRIGHT &kp LCLICK    &tog MOUSE       &none       &none       &none       &none     &none      &none     &trans
 //├──────────┬──┺━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻┯━━━━━━━━┹─┬────────┴─┬──────────────┤
    &none      &trans      &none      &none  &kp MCLICK   &kp PG_DN   &none     &none     &none     &none          &none     &none       &none       &trans     &trans
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
    &trans        &trans      &trans         &kp LCLICK                    &kp RCLICK       &tog MOUSE            &trans     &trans       &trans     &trans     &trans
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯
               >;
        };
        
        GAME {
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
    &trans     &trans      &trans     &trans      &trans    &trans     &trans     &trans     &trans     &trans     &trans      &trans    &trans     &trans    &trans
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
    &trans          &trans     &trans     &trans    &trans     &trans       &trans  &trans     &trans    &trans     &trans     &trans        &trans         &trans
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
    &trans       &trans  &trans  &trans   &trans  &trans       &trans          &trans      &trans    &trans     &trans    &trans    &trans       &trans
//├──────────┬──┺━━━━━━━━┯━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┹─┬────────┴─┬──────────────┤
    &kp LSHIFT  &kp LSHIFT      &trans      &trans           &trans   &trans     &trans     &trans      &trans     &trans      &trans     &trans    &trans       &trans
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
    &trans        &trans      &trans         &trans                         &trans       &trans              &kp SEMI          &trans     &trans    &trans       &trans
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯
            >;
        };    
        
        NAV2 {
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
&bootloader &reset &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3 &trans     &trans     &trans     &trans     &trans      &trans    &trans     &trans    &kp PG_UP
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
    &out OUT_TOG         &trans     &trans     &trans    &trans     &trans  &trans    &trans      &kp AMPS  &kp STAR   &trans       &trans        &trans       &kp PG_DN
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
    &trans       &trans      &trans      &trans   &trans      &none      &trans         &none      &kp DOLLAR  &kp PERCENT &kp CARET    &trans     &trans      &trans
//├──────────┬──┺━━━━━━━━┯━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┹─┬────────┴─┬──────────────┤
    &trans     &trans      &trans      &trans      &trans  &trans   &trans     &trans     &trans      &kp EXCL    &kp AT     &kp HASH     &trans    &kp CUP       &trans
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
     &bt BT_CLR      &trans      &trans         &trans                       &to NAV       &trans           &trans       &trans    &kp CLEFT    &kp CDOWN       &kp CRIGHT
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯
            >;
        };    
               OFF {
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
   &none       &none      &none    &none     &none     &none          &none      &none    &none     &none     &none      &none       &none         &none   &none 
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
    &none          &none        &none       &none     &none    &none      &none       &none         &none     &none     &none     &none         &none          &none 
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
     &none        &none         &none      &none   &none         &none       &none       &none         &none       &none       &none     &none      &none     &none
 //├──────────┬──┺━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻┯━━━━━━━━┹─┬────────┴─┬──────────────┤
    &none      &none      &none      &none       &none       &none       &none     &none     &none     &none        &none     &none       &none       &none     &none
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
    &none        &none     &none                 &none                     &none                    &none       &mo NAV      &none          &none     &none       &none
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯
               >;
        };
        
        WIDER {
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
   &kp ESC   &kp EQUAL    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5      &none      &none      &kp N6     &kp N7     &kp N8     &kp N9     &kp N0    &kp DEL   
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
   &kp TAB           &kp SQT    &kp COMMA   &kp DOT     &kp P      &kp Y     &trans  &kp  PSCRN    &none       &kp F     &kp G      &kp C      &kp R           &kp L      
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
   &kp BSPC          &kp A     &kp O       &kp E     &kp U      &kp I      &tog MOUSE       &cup       &kp MINUS  &kp D     &kp H      &kp T      &kp N          &kp S   
//├──────────┬──┺━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┹─┬────────┴─┬──────────────┤
   &kp SEMI    &mo WIDERNAV   &kp Q      &kp J     &kp K       &kp X    &none      &cleft   &cdown    &cright    &kp B       &kp M     &kp W      &kp V       &kp Z         
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
    &kp LCTRL    &kp LGUI   &kp LALT             &kp SPACE                  &kp ENTER    &to 0              &mo WIDERNAV    &kp LSHIFT  &mo WIDERNAV      &kp C_VOL_UP  &kp C_VOL_DN
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯
            >;
        };
        WIDERNAV {
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
   &kp TILDE    &kp GRAVE  &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11   &kp F12    &none      
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
     &kp JOURNAL  &kp EXCL   &trans       &kp UP   &kp K_APP   &kp ESC       &kp PIPE &none        &none      &kp DOLLAR  &kp N7    &kp N8       &kp N9      &kp N0        
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
    &trans   &kp LEFT    &kp LEFT   &kp DOWN   &kp RIGHT  &kp ENTER    &none     &none         &none      &kp MINUS    &kp N4     &kp N5      &kp N6   &kp ENTER     
//├──────────┬──┺━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┹─┬────────┴─┬──────────────┤
    &kp COLON &kp DEL     &trans     &trans   &kp QUESTION &none     &kp UNDER  &none         &none    &kp PERCENT &kp N0     &kp N1     &kp N2    &kp N3    &none         
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
   &trans      &trans       &kp LSHIFT     &kp SPACE                       &kp LSHIFT         &kp LSHIFT       &none       &none        &none      &none     &none      
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯
             >;           
        };
 
        NAV {
           bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────────╮
    &kp TILDE  &kp GRAVE   &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11   &kp F12     &tog OFF
//├──────────┴────┬──────┴───┬──────┴───┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴────┬─────┴──────────┼──────────────┤
      &trans       &none      &none &kp UP   &kp K_APP   &kp ESC      &kp PIPE    &kp DOLLAR  &kp N7    &kp N8    &kp N9      &kp N0      &kp BACKSLASH    &tog WIDER      
//├─────────────┲━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┳━┷━━━━━━━━┱─┴────────┬─┴──────────┴───┬──────┴───┲━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┳━━━━━━┷━━━┱──────────┬─┴──────────────┤
    &trans       &kp LEFT    &kp LEFT   &kp DOWN   &kp RIGHT  &kp ENTER    &none          &kp MINUS    &kp N4     &kp N5      &kp N6   &kp QUESTION     &kp SEARCH  &kp SEARCH  
//├──────────┬──┺━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┻━━━━━━━┯━━┹───────┬──┴───────┬────────┴─┬────────┺━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┻━┯━━━━━━━━┹─┬────────┴─┬──────────────┤
      &kp COLON &kp DEL &trans         &trans   &kp LPAR  &kp RPAR &kp UNDER  &none   &kp PERCENT    &kp N1     &kp N2      &kp N3     &kp EXCL      &tog GAME     &trans    
//├──────────┴──┬───────┴─┬────────┴────┬─────┴──────────┴──────────┴───┬──────┴───────┬──┴──────────┴───────┬──┴───────┬──┴──────────┼──────────┼──────────┼──────────────┤
    &kp JOURNAL        &trans      &trans        &kp SPACE                 &to 0       &mtl RSHIFT 0      &kp N0    &trans  &tog QWERTY  &to 0  &tog COLEMAK 
//╰─────────────┴─────────┴─────────────┴───────────────────────────────┴──────────────┴─────────────────────┴──────────┴─────────────┴──────────┴──────────┴──────────────╯
             >;           
        };
                

        
    };
};
